@font-face {
  font-family: 'Inter Regular';
  src: url(./assets/fonts/Inter/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: 'Inter Bold';
  src: url(./assets/fonts/Inter/Inter-Bold.ttf);
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00000033;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #00000066;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-button.css-bshv44-MuiButtonBase-root-MuiListItem-root {

  padding: 0px 0px 5px 0px;
}

.disable{
  opacity: 0.5;
  pointer-events: none;
  
}

.disableButton{
  opacity: 0.5;
  pointer-events: none;
}

.isUnInstalledWallet{
  opacity: 0.5;
  border: 1px solid #000000;
  border-radius: 5px 0px;
  background: #FC6643 !important;
  pointer-events: none;
  width: 73% !important;
}
.connectMetamask{ 
  border: 1px solid #000000 !important;
  width: 73% !important;
}

.dot-elastic {
  margin-left: 25px;
  margin-top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dot-elastic 1s infinite linear;
}
.dot-elastic::before, .dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dot-elastic-before 1s infinite linear;
}
.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}